.git
.git/**
**/.git
**/.git/**
internal
internal/**
compose.local.yaml
build
build/**
dist
dist/**
**/__pycache__
**/*.py[cod]
**/*.so
**/*.mudmp
.cache
.cache/**
.pytest_cache
.pytest_cache/**
.ruff_cache
.ruff_cache/**
.mypy_cache
.mypy_cache/**
