
# csrc
csrc/instantiations/*

# mate
mate/_version.py
mate/_build_meta.py
mate/data
wrappers/*/_mate_wrapper_version.txt
wrappers/*/_mate_wrapper_requirements.txt
wrappers/*/*/_build_meta.py

# vscode
.vscode/

# claude
.claude

# python
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# temporary files
mate/jit/aot-levels.json
aot-ops/
temp/
*.so

# Per-developer Docker Compose settings
/compose.local.yaml
